---
layout: layout.njk
title: Blog
extraCss:
  - /css/blog.css
permalink: /blog/
---
<section class="blog-section">
  <h1>Blog</h1>
  <p class="blog-subtitle">Thoughts, learnings and write-ups.</p>
  <ul class="blog-list">
    {%- for post in collections.blog | reverse %}
    <li class="blog-list-item">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <span class="blog-meta">{{ post.date | dateString }}</span>
      {% if post.data.description %}
      <p class="blog-description">{{ post.data.description }}</p>
      {% endif %}
    </li>
    {%- endfor %}
  </ul>
</section>
