:root {
  --color-bg:          #1f1721;
  --color-accent:      #ffc0cb;
  --color-text-muted:  #b0a0b0;
  --color-link:        #ffffff;
  --color-cursor-glow: #40e0d0;
}

body {
  font-family: 'Anonymous Pro', monospace;
  background-color: var(--color-bg);
  color: var(--color-accent);
  line-height: 1.6;
  margin: 0;
  padding: 2rem;
  overflow-x: hidden;
}
section {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
}

.full-height {
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "VT323", monospace; 
  margin: 0;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 2.5rem;
  margin: 0.5rem;
}

p, li{
  font-size: 1.2rem;
  margin: 0.5rem;
}

li{
  margin-left: 1rem;
}

a{
  color: var(--color-link);
}

h1, h2, p, a {
  margin-left: 0 ;
}
