---
layout: layout.njk
title: Mio's Portfolio
extraCss:
  - /css/index.css
  - /css/animations.css

---
<section class="hero">
  <div class="hero-container">
    <div class="hero-emoji-container">
      <h1>👋</h1> 
    </div>
    <div class="hero-text-container">
      <h1 class = "type-writer stop-cursor"> Hello I am Nuntilus</h1> 
      <h2 class = "type-writer offset">An aprentice as a Software developer</h2> 
    </div>
  </div>
</section>
<section>
  <div class="content-box">
    <h2>What i like</h2>
    {% for hobbie in hobbies %}
    <li>{{hobbie}}</li>
    {% endfor %}
  </div>

  <div class="content-box">
    <h2>My skills</h2>
    {% for skill in skills %}
    <li>{{skill}}</li>
    {% endfor %}
  </div>

  <div class="content-box">
    <h2>What i am learning</h2>
    {% for learning in learnings %}
      <li>{{learning}}</li>
    {% endfor %}
  </div>
</section>
<section>
  <div class="content-box">
    <h2> My Links</h2>
    <li>
      <a href="https://github.com/Nuntilus">My github</a>
    </li>
    <li>
      <a href="https://mio-galli.netlify.app">My old Portfolio</a>
    </li>
  </div> 
  <div class="content-box">
    <h2>Contact me</h2>
    <p>Email: nuntilus@clavitus.ch</p>
  </div>
</section>
